body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.PeleaFondo{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: -1;
    }
    
.carrusel{
    margin: 0;
    display: grid;
    width: 1489px;
    height: 750px;
    background-color: transparent;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

}
.item {
    position: relative;
    left: 13px;
    top: 7px;
    display: grid;
    width:400px;
    height: 300px;
    background-color:  black;
    border-radius: 5%;
    padding: 20px;
}
.item img {
    width: 400px;
    height: 300px;
    border-radius: 5%;
}
img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    animation: infinite;
}